<form name="registerForm">
    <div id="form-main-container">
    <div id="form-area">
      <div id="form-title">
      Register
      </div>
      <div id="form-body">
        <div>
          <div class="col-12">
            <fieldset class="form-group">
              <label class="form-label" for="input4">Name</label>
              <input type="text" ng-model="User.name" class="form-control" id="input4" placeholder="Name" required>
            </fieldset>
          </div>
          <div class="col-12">
            <fieldset class="form-group">
              <label class="form-label" for="input5">Username</label>
              <input type="text" ng-model="User.username" class="form-control" id="input5" placeholder="Username" required>
            </fieldset>
          </div>
          <div class="col-12">
            <fieldset class="form-group">
              <label class="form-label" for="input6">Password</label>
              <input type="password" class="form-control" ng-model="User.password" id="input6" placeholder="Password" required>
            </fieldset>
          </div>
        </div>
        <div>
          <div class="center-text button-area">
            <button type="button" class="btn btn-cancel" ng-click="Register()">Register</button>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  </form>