<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel='Stylesheet' href="styles.css"></link>

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.2/angular-route.js"
      integrity="sha512-C92rntF0G0YH9kHzQlpux7ADvyKgyUwBqusewsHs/0ibOTNuHxFyVqDkI0BIcLGyP76fxgLOpMOLO6kmHCS/xA=="
      crossorigin="anonymous"
    ></script>
    <script src="app.module.js" defer></script>
    <script src="app.factory.js" defer></script>
    <script src="app.controller.js" defer></script>
    <script src="shop/shop.controller.js" defer></script>
    <script src="register/register.controller.js" defer></script>
    <script src="login/login.controller.js" defer></script>
    <script src="cart/cart.controller.js" defer></script>
    <script src="app.routes.js" defer></script>
</head>
<body ng-app="Ecom" ng-controller="main">
    
    <nav>
        <input type="checkbox" id="navToggle" ng-model="navToggle"></input>
        <div class="logoContainer">
            <img src="./Resources/images/box-svgrepo-com.svg">
            <h1>EBazaar</h1>
        </div>
        <div class="navLinksContainer">
            
            <div class="navLinks">
                <a href="#/!" ng-class="{ active: isActive('/')}">Home</a>
                <a href="#!shop" ng-class="{ active: isActive('/shop')}">Shop</a>
            </div>
            <div class="sideNavLinks">
                <a href="#!login" ng-class="{ active: isActive('/login')}" ng-show="loggedOut()">Login</a>
                <a href='#!register' ng-class="{ active: isActive('/register')}" ng-show="loggedOut()">Register</a>
                <a href="#!cart" ng-class="{ active: isActive('/cart')}" ng-show="!loggedOut()">Cart</a>
            <a ng-click="logOut()" ng-show="!loggedOut()">LogOut</a>
            </div>
        </div>
        <div class="toggleBtnContainer">
            <label for="navToggle">
                <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
            </label>
        </div>
    </nav>
    
    <section class="ng-view">

    </section>
</body>
</html>