@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
    transition: color 1s ease-in-out;
}

section{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* index styles */
nav{
    min-height:10vh;
    position: relative;
    display: flex;
    align-items: center;
    color:#188897;
    font-weight: 600;
}
a{
    text-decoration: none;
    color:#188897;
}
.navLinksContainer{
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size:larger;
    padding:0.5em 1em;
    flex:2;
}
.navLinksContainer>div,.logoContainer{
    display: flex;
    align-items: center;
    gap:1em;
}
.active{
    color: #264a6b;
}

#navToggle{
    display: none;
}
.toggleBtnContainer{
    display: flex;
    z-index:100;
}
.logoContainer{
    padding:0.5em 1em;
    position: relative;
    flex:1;
}
.logoContainer img{
    width:32px;
}

.a{
    text-decoration: none;
}

/* landing page styles */
.LandingPage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:0.5em 2em;
    font-size:1.5em;
    flex-grow: 1;
    font-family: 'Open Sans';
    align-items: center;
    gap:1em;
}
.LandingPage img{
    max-height:70vh;
}
.col{
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.controlBtns{
    display:flex;
    gap:1em;
}
.controlBtns button{
    font-size:1em;
    padding:0.5em 1em;
    background-color:transparent;
    border-color:transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.controlBtns button:hover{
    background-color: #0cbaba;
    color:white;
}

.categoriesContainer{
  display: flex;
  flex-wrap: wrap;
  /* min-height: 1000px; */
  justify-content: space-evenly;
  align-items: center;
  padding:1em;
  gap:1em;
}
.CategoryCard{
  display: flex;
  height: 300px;
  width: 300px;

  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat !important;
  background-origin: content-box !important;
    transition: transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}
.CategoryCard:hover{
  cursor: pointer;
  transform: translateY(-0.8em);
  box-shadow: 0 0.5em 1em 0em rgba(0, 0, 0, 0.164);
}
.CategoryCard h1{
  text-shadow: #343434;
  color: white;
}
.CategoryCard:nth-child(1)
{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),url(./Resources/images/undraw_unboxing_pbmf.svg);
}
.CategoryCard:nth-child(2){
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url(./Resources/images/undraw_jewelry_iima.svg);
}
.CategoryCard:nth-child(3){
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url(./Resources/images/undraw_superhero_kguv.svg);
}
.CategoryCard:nth-child(4){
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url(./Resources/images/undraw_coolness_dtmq.svg);
}

.productsContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding:1em;
  gap:1em;
}
.productCard{
  display: flex;
  height: 300px;
  width: 300px;
flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  background-repeat: no-repeat !important;
  background-origin: content-box !important;
    transition: transform 0.3s ease-in-out;
    padding:1em;
    background-color: white;
    box-shadow: 0 0.5em 1em 0em rgba(0, 0, 0, 0.164);
}
.productCard:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.productCard img{
  max-height:50%;
  width:auto;
}
.productCard *{
  text-align: center;
}
/* previousForm */
/* .formCardContainer{
    padding:1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif; 
    height:100%;
}
.formCard{
    height:auto;
    min-height: 500px;
    max-width:800px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2em 0em rgba(0, 0, 0, 0.164);
}
.formCard .column{
    min-height: 500px;
    min-width: 365px;
height:100%;
flex:1;
padding:2em;
display: flex;
flex-direction: column;
gap:1.5em;
justify-content: space-around;
}
.formSubText{
    background-color:#10a6ab    ;
    color: #edf1fd;
    text-align: center;
}
.formSubText > .altLinkGroup{
    width:100%;
    text-align: center;
    
}
.formSubText > .altLinkGroup >p>a{
   
    text-shadow: 0.01em 0.01em 0.1em rgba(0, 0, 0, 0.253);
    font-weight: bold;
    color:white;
   
}

.formCard .column h1{
    font-size: 2em;
}
.formHeading{
    color:#188897;
}
form{
    display: flex;
    flex-direction: column;
    gap:1.3em;
    font-size:1.3em;
}
form input[type="text"],form input[type="password"]{
    padding:0.5em;
    font-size: 0.7em;;
    border:none;
    width:100%;
    background: none;
    outline:none;
}
.formbtnGroup{
    text-align: center;
}
.formbtnGroup >input{
    font-size: 1em;
    background-color: transparent;;
    border: none;
    cursor: pointer;
    padding: 0.5em 1em;
    transition: all 0.3s ease-in-out ;
}
.formbtnGroup > input:hover{
    color:white;
    background-color: #10a6ab;
    
}
fieldset{
    border:none;
    display: flex;
    position: relative;
    flex:1;
    font-size:1.2em;
    padding:0.1em;
    gap:1em;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #188897;
}
.validationMsg{
    position: absolute;
    top:120%;
    left:0;
    color:red;
    font-size: small;
}
fieldset i{
    color:#188897;
}
.formContainer{
    background-color: rgba(255, 255, 255, 0.445);
} */

@media screen and (max-width:810px){
    .navLinksContainer{
        display: flex;
        flex-direction: row;
        gap:0.5em;
        position: fixed;
        top:0;
        z-index:99;
        width:100%;
        height:100vh;
        justify-content: space-evenly;
        align-items: center;
        background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #2b365d 90%);

        color: white;
        clip-path: circle(0px at 100% -10%);
        transition: all 1s ease-in-out;
    }
    .logoContainer{
        z-index: 100;
    }
    .navLinksContainer>div{
        padding:0;
        display: flex;
        flex-direction: column;
    }
    #navToggle:checked ~ .navLinksContainer
    {
        clip-path: circle(200vh at 100% -10%);
    }
    #navToggle:checked ~ .navLinksContainer a{
        color:rgb(213, 225, 235);
    }
    #navToggle:checked ~ .navLinksContainer a.acitve{
        color:white !important;
    }
    #navToggle:checked ~ .logoContainer{
        color:white;
    }
    .line {
        width: 30px;
        height: 3px;
        background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #2b365d 90%);
        margin: 5px;
        transition:  background 1s ease-in-out;
      }
      .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 99;
      }
      /* #navToggle:checked ~ .toggleBtnContainer .line{
        background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #ffffff 90%);
    } */
}



*:after,
*:before {
  box-sizing: border-box;
}
.center-text{
  text-align:center;
}
form{
    box-shadow: 0 0 2em 0em rgba(0, 0, 0, 0.164);
}

#form-main-container {
  display: block;
  position: relative;
  background-color: #fff;
  border-color: #d8e2e7;
  border: 1px solid #e5e5e5;
  border-radius: .25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 1%;
}

#tabs {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}

#tabs ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 90%;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#tabs ul li {
  position: relative;
  display: block;
  width: 100%;
  margin: 0.5%;
  padding: 1%;
  text-align: center;
  flex: 1;
  z-index: 1;
  border-radius: 2%;
}

#tabs ul li a {
  position: relative;
  display: block;
  color: #343434;
  overflow: visible;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border 0.5s;
  white-space: nowrap;
  line-height: 2.5;
  text-decoration: none;
  outline: none;
}

#tabs ul li a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  transition: border 0.5s;
}

#tabs ul li.active-tab a:before {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: solid transparent;
  content: '';
  pointer-events: none;
  border-width: 1rem;
  border-top-color: rgba(0, 0, 0, 0.2);
  margin-left: -1rem;
  transition: border 0.5s;
}

#tabs ul li.active-tab a:hover:before {
  border-top-color: rgba(0, 0, 0, 0.5);
  transition: border 0.5s;
}

#tabs ul li.active-tab a:after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: solid transparent;
  content: '';
  pointer-events: none;
  border-width: 0.9rem;
  border-top-color: #fff;
  margin-left: -0.9rem;
}

#form-area {
  position: relative;
  overflow: hidden;
  width: 100%;
  font-weight: 300;
  font-size: 1.2rem;
  margin: 1rem;
  margin-top: 2rem;
}

#form-title {
  border-bottom: solid 1px #d8e2e7;
  padding-bottom: .8rem;
  width: 97%;
  font-weight:600;
  color:#10a6ab;
}

#form-body {
  margin-top: 2rem;
}

.col-3 {
  float: left;
  width: 30%;
  margin: 1%;
  padding: 1%;
}

.col-6 {
  display: inline-block;
  width: 62.5%;
  margin: 1%;
  padding: 1%;
}

.col-12 {
  display: inline-block;
  width: 95%;
  margin: 1%;
  padding: 1%;
}

.col-2 {
  display: inline-block;
  width: 17%;
  margin: 1%;
  padding: 1%;
}

.row {
  display: block;
  margin: 2%;
  margin-top: 0;
  padding: 2%;
  padding-top: 0;
}

.left-align {
  float: left;
}

.right-align {
  float: right;
}

.button-area {
  margin-top: 1%;
  margin-right: 5%;
  margin-left: 1%;
  padding: 2%;
}

.button-save-area {
  margin-top: 1%;
  margin-left: 10%;
  padding: 2%;
}

.form-group {
  margin-bottom: 0.2rem;
}

fieldset {
  border: 0;
  padding: 0;
}

.form-label {
  display: block;
  margin-bottom: 6px;
  font-size: 1rem;
}

label {
  margin: 0;
  display: block;
}

.form-control {
  box-shadow: none;
  font-size: 1rem;
  color: #10a6ab!important;
  width: 100%;
  padding: .375rem .75rem;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
}

textarea {
  resize: none;
  border: 0.1rem solid #ccc;
  border-radius: 0.25rem;
  width: 100%;
}

.btn {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #00a8ff;
  background: #00a8ff;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  padding: .375rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

.btn-cancel {
  background-color: #10a6ab;
  border-color: #10a6ab;
}

.btn-send {
  background-color: #6b7a85;
  border-color: #6b7a85;
}

.btn-save {
  background-color: #6b7a85;
  border-color: #6b7a85;
}
label{
  color:#777;
  font-weight:600;
  text-transform:camel;
}
.form-control{
  color:#777 !important;
}
